doctype html
html
  head
    include shared/head
  body
    #wrapper
      #ui-view
      script(src="./js/app.js")
      include shared/footer
      script.
        $(document).ready(function() {
          $('select').material_select();
          $(".button-collapse").sideNav();
          $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
          $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: true, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
          });
        });