base(href="/")
meta(charset='UTF-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width initial-scale=1")
meta(name="description" content="")
title DOCSYS
link(rel='icon', type='image/ico', href='favicon.ico')
script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
link(rel='stylesheet', href='/lib/Materialize/dist/css/materialize.min.css')
script(src='/lib/Materialize/dist/js/materialize.min.js')
link(rel='stylesheet', href='/lib/sweetalert/dist/sweetalert.css')
script(src='/lib/sweetalert/dist/sweetalert.min.js')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(rel='stylesheet', href='./css/style.css')